.topo {
	height: 120px; 
	background: black;
}

.topo .left {
	height: 120px;
	width: 100px;
	float: left;
	background:  url("../imagem/LogoGB.jpeg") no-repeat center;
	background-size: 90px auto;
}

.topo .center {
	height: 120px;
	width: 500px;
	margin: 0 auto 0 auto;
	background:  url("../imagem/LogoGlass.png") no-repeat center;
	background-size: 160px auto;
}

.topo .right {
	height: 120px;
	width: 450px;
	float: right;
}

.topo .right .parte-1 {
	width: 90px;
	height: 120px;
	float: left;
	background:  url("../imagem/facebook.png") no-repeat center;
	background-size: 60px auto;
}
.topo .right .parte-2 {
	width: 90px;
	height: 120px;
	float: left;
	background:  url("../imagem/instagram.png") no-repeat center;
	background-size: 60px auto;
}
.topo .right .parte-3 {
	width: 90px;
	height: 120px;
	float: left;
	background:  url("../imagem/whats.png") no-repeat center;
	background-size: 60px auto;
}
.topo .right .parte-4 {
	width: 90px;
	height: 120px;
	float: left;
	background:  url("../imagem/linkedin.png") no-repeat center;
	background-size: 60px auto;
}
.topo .right .parte-5 {
	width: 90px;
	height: 120px;
	float: left;
	background:  url("../imagem/emailIcon.png") no-repeat center;
	background-size: 60px auto;
}

/* aula de Menu */

.linha1 {
	height: 40px;
	background: #39A297;
}

.linha1 .menu .botao {
	width: 170px;
	height: 40px;
	border-right: 2px solid white;
	font: 14pt Arial;
	font-weight: bold;
	padding-left: 10px;
	line-height: 40px;
	color: white;
	background:  #39A297;
	float: left;
}
/* efeito ao passar o mouse (hover)*/
.linha1 .menu .botao:hover {
	background: #ddd;
	color: black;
	cursor: pointer;
}

.linha2 {
	min-height: 210px;
	background:#39A297;
	border: 2px solid white;
}
.linha3 {
	max-width: 1000px;
	background:#39A297;
	float: center;
}
.linha4 {
	min-height: 110px;
	background:#39A297;
	border: 2px solid white;
}
.linha5 {
	max-width: 1000px;
	background:#39A297;
	float: center;
}
.linha6 {
	min-height: 110px;
	background:#39A297;
	border: 2px solid white;
}
.linha7 {
	max-width: 400px;
	background:#39A297;
	float: center;
}
.linha8 {
	min-height: 110px;
	background:#39A297;
	border: 2px solid white;
}
.linha9 {
	max-width: 600px;
	background:#39A297;
	float: center;
}
/* fim da aula Menu*/
.img_padrao {
	margin-bottom: 10px;
	width: 160px;
	height: 160px;
}

/* aula galeria de fotos NOVA  */
/* fotos aumenta com click */

.linha-foto-grande {
	height: 280px;
	background: url("../imagem/fredmel.jpg") no-repeat center;
	background-size: auto 1100px;
}


.linha-galeria {
	height: 700px;
}

.linha-galeria .album {
	width: 1260px;
	height: 600px;
	margin: 0 auto;
}
.linha-galeria .album .foto {
	width: 400px;
	height: 300px;
	background: #ddd;
	float: left;
	margin: 10px;
}

.linha-galeria .album .foto:nth-child(1) {
	background: url("../imagem/planta1.png") no-repeat center;
	background-size: 250px auto;
}
.linha-galeria .album .foto:nth-child(2) {
	background: url("../imagem/planta2.png") no-repeat center;
	background-size: 250px auto;
}
.linha-galeria .album .foto:nth-child(3) {
	background: url("../imagem/planta3.png") no-repeat center;
	background-size: 250px auto;
}
.linha-galeria .album .foto:nth-child(4) {
	background: url("../imagem/planta4.png") no-repeat center;
	background-size: 250px auto;
}
.linha-galeria .album .foto:nth-child(5) {
	background: url("../imagem/planta5.png") no-repeat center;
	background-size: 250px auto;
}
.linha-galeria .album .foto:nth-child(6) {
	background: url("../imagem/planta6.png") no-repeat center;
	background-size: 250px auto;
}

body {
	background-color:#282629; 
	margin-left: 30px;
	margin-right: 30px;
	text-align: justify;
}

h1 {
	color:#E4EDEC;
	font-family: Tahoma;
	font-size: 35px; 	
}

p {
	color: white;
	font-family: Tahoma; 
	font-size: 20px; 
}