p {
  background: #e7e7e7;
  border: 1px solid black;
  padding: 20px;
  font-size: 20px;
  margin-bottom: 2048px;
}

strong{
    position: absolute;
}

div{
    position: relative;
    border: 2px solid #ccc;
    margin-top: 40px;
    padding: 20px 20px 40px 20px;
}

.div-secundaria{
    position: fixed;
    bottom: 20px;
    left: 25em;
    right: 25em;
}

.fixo {
    background: #e7e7e7;
    border: 2px solid #ccc;
    text-align: center;
    padding: 10px;
    position: absolute;
    top: -20px;
}