body {
	background-color:#282629; 
	margin-left: 30px;
	margin-right: 30px;
	text-align: justify;
}

header {
	margin-top: 10px;
}

h1 {
	color:#E4EDEC;
	font-family: fantasy;
	font-size: 50px; 	
}

h2 {
	color: #39A297;
	font-family: Daytona;
	font-size: 36px; 	
}

h3 {
	background-color:  #44D0C2;
	font-family: Daytona;
	font-size: 15px; 	
}

h4 {
	color: #8FD5CE;
	font-family: Daytona;
	font-size: 24px; 	
}

p {
	color: white;
	font-family: Tahoma; 
	font-size: 20px; 
}

g {
	color: white;
	font-family: Tahoma; 
	font-size: 15px; 
}

footer {
	margin-bottom: 30px;
}

.img_padrao {
	margin-bottom: 20px;
	width: 300px;
	left: auto;
}

.time {
	margin-bottom: 20px;
	width: 150px;
}

.contato
{
	margin-bottom: 20px;
	width: 40px;
}

.galeria {
	margin: 10%;
}

.item {
	float: left;
	border: 5px solid gray;
	margin: 7px;
}

.texto {
	float: left;
	margin: 7px;	
	border: 6px solid gray;
	width: 550px;
	height: 200px;	
	color: white;
	font-family: arial;
	font-size: 20px;
	text-align: justify;		
}

.itemfoto {
	width: 150px;
	height: 150px;
}

.limpa {
	clear:left;
}

.button {
	color: black;
	background-color:  #39A297;
	font-size: 30px;
	font-family: Didot;
	font-weight: bold;
}